{% extends 'base.html.twig' %}

{% block title 'Album #' ~ album.id %}

{% block body %}
    <div class="p-5 my-4 bg-secondary text-white rounded-3">
        <h1>Album #{{ album.id }}</h1>

        <p>Photos</p>
        {% for photo in album.photos %}
            <img src="{{ vich_uploader_asset(photo) }}" alt="{{ album.title }}" width="200" class="rounded-3 shadow border border-white"><br><br>
        {% endfor %}
    </div>

    <a href="{{ path('app_home') }}">&larr; Create another album!</a>
{% endblock %}
