<div{{ attributes }}>
    <form data-controller="live" {{ live_controller(this) }} method="post">
        {{ form_row(form.title) }}

        <div data-collection-holder>
            {% for photoForm in form.photos %}
                <div>
                    {{ form_row(photoForm.url) }}
                    <button type="button" data-action="click->live#removeCollectionItem">Supprimer</button>
                </div>
            {% endfor %}
        </div>

        <button type="button" data-action="click->live#addCollectionItem" data-collection-id="form_photos">Ajouter une photo</button>

        <button type="submit">Enregistrer</button>
    </form>
</div>
